.main-container {
  display: grid;
  grid-template-columns: 25rem auto;
  height: calc(100% - 64px);
}

.left {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  background-color: #212121;
  overflow: hidden;
}

mat-toolbar {
  position: relative;
  z-index: 3;
  box-shadow: 0 10px 20px rgb(0 0 0 / 30%);
  font-family: "DM Sans";
  color: white;
  font-size: 1.625rem;
}

.no-res {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 64px - 5rem);
  color: white;
  user-select: none;
}

.no-res img {
  width: 60%;
  filter: brightness(0) contrast(40%);
  transform: translateX(-0.125rem);
}

.search-results {
  height: calc(100% - 5rem);
  overflow-y: scroll;
  overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 1.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #424242; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #111111; 
}